@model IEnumerable<AnToanBaoMat.Models.DownloadLog>

<h2 class="mb-4">

    Download Log

</h2>

<table class="table table-bordered table-hover">

    <thead class="table-dark">

        <tr>

            <th>ID</th>

            <th>Application</th>

            <th>Employer</th>

            <th>Download Time</th>

            <th>IP</th>

            <th>Status</th>

        </tr>

    </thead>

    <tbody>

        @foreach (var item in Model)
        {

            <tr>

                <td>@item.LogId</td>

                <td>@item.ApplicationId</td>

                <td>@item.EmployerId</td>

                <td>@item.DownloadTime</td>

                <td>@item.Ip</td>

                <td>

                    @if (item.Status == "Success")
                    {
                        <span class="badge bg-success">

                            Success

                        </span>
                    }
                    else
                    {
                        <span class="badge bg-danger">

                            Fail

                        </span>
                    }

                </td>

            </tr>

        }

    </tbody>

</table>