@model IEnumerable<AnToanBaoMat.Models.AuditLog>

<h2 class="mb-4">Audit Log</h2>

<table class="table table-bordered table-hover">

    <thead class="table-dark">

        <tr>

            <th>Time</th>

            <th>User</th>

            <th>Action</th>

            <th>Description</th>

            <th>IP</th>

            <th>Status</th>

        </tr>

    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>

                <td>@item.LogTime</td>

                <td>@item.UserId</td>

                <td>@item.Action</td>

                <td>@item.Description</td>

                <td>@item.Ipaddress</td>

                <td>

                    @if (item.Status == "SUCCESS")
                    {
                        <span class="badge bg-success">
                            SUCCESS
                        </span>
                    }
                    else
                    {
                        <span class="badge bg-danger">
                            FAILED
                        </span>
                    }

                </td>

            </tr>
        }

    </tbody>

</table>