@{
    ViewData["Title"] = "Security Center";
}

<div class="container-fluid mt-4">

    <h2>

        🛡 Security Center

    </h2>

    <hr>

    <div class="row">

        <div class="col-lg-3">

            <div class="card security-box bg-success">

                <h3>@ViewBag.TotalUpload</h3>

                <p>Tổng Upload</p>

            </div>

        </div>

        <div class="col-lg-3">

            <div class="card security-box bg-danger">

                <h3>@ViewBag.TotalBlocked</h3>

                <p>Blocked IP</p>

            </div>

        </div>

        <div class="col-lg-3">

            <div class="card security-box bg-primary">

                <h3>@ViewBag.TotalLog</h3>

                <p>Upload Logs</p>

            </div>

        </div>

        <div class="col-lg-3">

            <div class="card security-box bg-warning">

                <h3>@ViewBag.TodayUpload</h3>

                <p>Upload hôm nay</p>

            </div>

        </div>

    </div>

    <br>

    <div class="row">

        <div class="col-lg-6">

            <div class="card p-4">

                <h4>

                    AI Security Score

                </h4>

                <div class="progress">

                    <div class="progress-bar bg-success"
                         style="width:96%">

                        96%

                    </div>

                </div>

                <br>

                <div>

                    ✔ Kiểm tra IP

                </div>

                <div>

                    ✔ Upload Protection

                </div>

                <div>

                    ✔ MIME Validation

                </div>

                <div>

                    ✔ File Validation

                </div>

                <div>

                    ✔ Upload Logging

                </div>

            </div>

        </div>

        <div class="col-lg-6">

            <div class="card p-4">

                <h4>

                    Upload Status

                </h4>

                <canvas id="securityChart">
                </canvas>

            </div>

        </div>

    </div>

</div>
<script>

    new Chart(

    document.getElementById("securityChart"),

    {

    type:"doughnut",

    data:{

    labels:[

    "Success",

    "Fail"

    ],

    datasets:[{

    data:[

    @ViewBag.SuccessUpload,

    @ViewBag.FailUpload

    ]

    }]

    }

    });

</script>